#reserv{
position: relative;
bottom: 40px;
left: 20px;
background:#5092CC;
width:250px;
height:360px;
border-radius:5px;
font-family:Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
box-shadow:0 0 12px 0 #6e6e6e;
opacity:1;
}
#formm{
padding-left:10px;
padding-top:15px;
}
#reserv .input_DEP{
border:1px solid #000000;
border-radius:5px;
width:230px;
height:40px; 
font-size:16px;
}
#reserv .DT_res{
border:1px solid #000000;
border-radius:5px;
width:140px;
height:40px; 
font-size:16px;
}
#reserv .HR{
border:1px solid #000000;
border-radius:5px;
width:90px;
height:40px; 
font-size:16px;
}
.submit{
border:1px solid #000000;
border-radius:5px;
width:230px;
height:40px; 
font-size:16px;
background: #89f0f9;
}